body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.container .movie {
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 2px;


    border-style: ridge;
    border-color: black;

    word-wrap: break-word;
    position: relative;
}

.rating {
    position: absolute;
    bottom: 20px;
}