<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Movie Rating</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h1>Movie Rating</h1>
<p>Nachfolgend werden dir 50 verschiedene Filme angezeigt. Bitte markiere die Filme die du magst mit einer beliebigen
    Zahl.
</p>

{#    Bitte bewerte mindestens 10 die du kennst mit 1-5 Sternen.#}
{#    1 ist am Schlechtesten, 5 am Besten.#}
<!--TODO: Improve Layout Styling
vll. https://medium.freecodecamp.org/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492 -->
<h1>Movies</h1>
<form action="/recommendation_calc" method="POST">
    <input type="submit" value="Rate">
    <div class="container">

        {% for movie in intro_movies %}
        <div class="movie">
            <h2>{{ movie.title }}</h2>
            Genres: {{ movie.genres}}
            <div class="rating">

                <label id="movie-rating">Rate this movie: </label>
                <input name="{{ movie.movieId }}" type="number">
            </div>
        </div>
        {% endfor %}
    </div>
</form>
</body>
</html>