<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Recommendation </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h1>Recommendation</h1>
<div>
    <p>Title: {{ title }} </p>
    <p>MovieId: {{ rec.movieId }} </p>
    <p>PredictedScore: {{ rec.predicted_score }} </p>

    {% for explanation in rec.explanations %}
        <p>Explanation: {{ explanation }} </p>
    {% endfor %}
</div>

</form>
</body>
</html>